
@{
    ViewBag.Title = "Connected";
}

@ViewBag.Message
@ViewBag.Message2

<h2>Connected</h2>
<p> Tu es ici car tu es déjà connecté @Session["pseudo"]!</p>

<a href="../Home/Disconnect">Déconnexion</a>

