@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@ViewBag.Message
<form action="/Home/Login" method="POST">
    <input type="text" name="Pseudo" placeholder="Pseudo" />
    <input type="password" name="Password" placeholder="Mot de passe" />
    <input type="submit" value="Se connecter" />
</form>
<input type="button" value="S'inscrire" onclick="location.href='@Url.Action("Register", "Home")'" />