
@{
                ViewBag.Title = "Register";
}

<h2>Inscription</h2>
@ViewBag.Message
@model Condorcar.Models.POCO.CUser
@using (Html.BeginForm("Register", "Home", FormMethod.Post))
{

}


<button onclick="location.href='@Url.Action("Register", "Driver")'" style="background-color:transparent; border-color:transparent;"><img src="~/Content/image/icons8-driver-482.png" /><br />S'enregistrer comme conducteur</button>
<button type="button" onclick="location.href='@Url.Action("Register", "Passenger")'" style="background-color:transparent; border-color:transparent;"><img src="~/Content/image/icons8-passenger-48.png" /><br />S'enregistrer comme Passager</button>
