
@{
    ViewBag.Title = "Connected";
}

@ViewBag.Message2

<h2>Connecté sur la page des passagers !</h2>

<button onclick="location.href='@Url.Action("List", "Ride")'" style="background-color:transparent; border-color:transparent;"><img src="~/Content/image/icons8-carpool-filled-50.png" /><br />Liste des trajets </button>
<button onclick="location.href='@Url.Action("Edit", "Passenger")'" style="background-color:transparent; border-color:transparent;"><img src="~/Content/image/icons8-taxi-license-642.png" /><br />Profil</button>
<button onclick="location.href='@Url.Action("Disconnect", "Home")'" style="background-color:transparent; border-color:transparent;"><img src="~/Content/image/deco.png" /><br />Se déconnecter</button>

